{% include 'header.html' %}

  <!-- Outer container, full page width and height, red border -->
<div class="container-fluid d-flex justify-content-center align-items-center">

<!-- Inner row, half the width and height, centered, blue border -->
<div class="row text-center d-flex align-items-center">

<form action="{{ url_for('register') }}" method="POST">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" aria-describedby="emailHelp" name="name">
</div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
    <input type="password" class="form-control" name="password">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>



</div> <!-- Inner row -->
</div> <!-- Outer container -->

  </body>

{% include 'footer.html' %}